.menu{
    height: 100%;
}

.menu_list{
    position: relative;
    width: 200px;
    background-color: white;
    transition: width 1s linear;
}

/* .menu_list:hover{
    width: 400px;
} */

.menu_list_block{
    position: relative;
    padding: 10px 10px;
}

.menu_list_detail{
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu_list_block:hover .menu_list_detail{
    opacity: 1;
    height: 40px;
    padding: 10px 10px;
}

.menu_list_icon{
    position: absolute;
    right: 30px;
    top: 13px;
}
.menu_list_icon:before,.menu_list_icon:after{
    position: absolute;
    content: '';
    border-top: 10px #fff dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-bottom: 10px transparent solid;
}
.menu_list_icon:before{
    top: 2px;
    border-top: 10px #0099CC solid;
}
.menu_list_icon:after{
    border-top: 10px #fff solid;
}

.menu_list_block:hover .menu_list_icon{
    top: 6px;
}

.menu_list_block:hover .menu_list_icon:before,.menu_list_block:hover .menu_list_icon:after{
    border-top: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-bottom: 10px #fff solid;
}
.menu_list_block:hover .menu_list_icon:before{
    top: 3px;
    border-bottom: 10px #0099CC solid;
}
.menu_list_block:hover .menu_list_icon:after{
    top: 5px; 
    border-bottom: 10px #fff solid;
}
