.menu{
    height: 100%;
}

.menu_list{
    position: relative;
    width: 200px;
    background-color: rgb(30,34,45);
    color: white;
    transition: width 1s linear;
}

/* .menu_list:hover{
    width: 400px;
} */

.menu_list_block{
    position: relative;
    padding: 10px 10px;
}

.menu_list_block:hover{
    cursor: pointer;
}


.menu_list_detail{
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu_list_detail:hover{
    background-color: rgb(21,24,34);
    transition: background-color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu_detail_show .menu_list_detail{
    opacity: 1;
    height: 40px;
    padding: 10px 10px; 
}

.menu_list_icon{
    position: absolute;
    right: 30px;
    top: 13px;
}
.menu_list_icon:before,.menu_list_icon:after{
    position: absolute;
    content: '';
    border-top: 10px #fff dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-bottom: 10px transparent solid;
}
.menu_list_icon:before{
    top: 12px;
    border-top: 10px #fff solid;
}
.menu_list_icon:after{
    top: 10px;
    border-top: 10px rgb(30,34,35) solid;
}

.menu_list_block:hover{
    background-color: rgb(38,47,62);
}

.menu_detail_show{
    background-color: rgb(21,24,34);
}

.menu_detail_show .menu_list_icon:before,.menu_detail_show .menu_list_icon:after{
    border-top: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-bottom: 10px #fff solid;
}
.menu_detail_show .menu_list_icon:before{
    top: 3px;
    border-bottom: 10px #fff solid;
}
.menu_detail_show .menu_list_icon:after{
    top: 6px;
    border-bottom: 10px rgb(21,24,34) solid;
}

.userDetail{
    text-indent: 10px;
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-style: italic;
}
